<h1>Listing qrcs</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qrcs.each do |qrc| %>
      <tr>
        <td><%= qrc.code %></td>
        <td><%= link_to 'Show', qrc %></td>
        <td><%= link_to 'Edit', edit_qrc_path(qrc) %></td>
        <td><%= link_to 'Destroy', qrc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qrc', new_qrc_path %>
